.seaside-slider {
  display: inline-block;
  position: relative;
}
.seaside-slider > div {
  height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: 900px;
}
.js .seaside-slider > div {
  overflow-y: hidden;
}
.seaside-slider > div > :first-child {
  height: 100%;
  position: absolute;
  width: 100%;
}
.seaside-slider > div > :first-child > * {
  -webkit-backface-visibility: hidden;
  /* prevent flickering on mobile devices */

  height: 100%;
  overflow: hidden;
  text-align: center;
  width: 100%;
}
.seaside-slider > div > :first-child > * * {
  max-height: 100%;
  max-width: 100%;
}
.js .seaside-slider > div > :first-child > * {
  position: absolute;
}
.seaside-slider > nav {
  display: block;
  height: 30px;
  visibility: hidden;
}
.js .seaside-slider > nav {
  visibility: visible;
}
