body, html {
  height: 100%;
}
.seaside-slider {
  display: inline-block;
}
.seaside-slider > div {
  overflow-x: hidden;
  width: 900px;
}
.js .seaside-slider > div {
  overflow-y: hidden;
}
.seaside-slider > div > :first-child {
  position: relative;
  width: 100%;
}
.seaside-slider > div > :first-child > * {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* prevent flickering on mobile devices */

  text-align: center;
  width: 100%;
}
.seaside-slider > div > :first-child > * > * {
  max-width: 100%;
}
.js .seaside-slider > div > :first-child > * {
  position: absolute;
}
.seaside-slider > nav {
  display: block;
  height: 30px;
  visibility: hidden;
}
.js .seaside-slider > nav {
  visibility: visible;
}
